<div class="container-fluid" style="background-color: transparent; "> 

    <div class="row cols-lg g-4">

        <div class="col col justify-content-center" id="estadisticas-col">
            <div style="background-color :#47B6AF;
                                                                height: 100% ;
                                                                padding: 10px ; 
                                                                border-radius: 15px ;
                                                                align-content: center;" >

                <div class="row row-cols-1 g-2">

                    <div class="col-6 col-lg-3" >
                        <div class="count-data text-center" id="datacell">
                            <h6 class="count h2" data-to="500" data-speed="500">{{datos.poemas}}</h6>
                            <p class="m-0px font-w-600">Poemas</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center" id="datacell">
                            <h6 class="count h2" data-to="850"  data-speed="850">{{datos.cantidad_calificacion}}</h6>
                            <p class="m-0px font-w-600">Calificaciones hechas</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center" id="datacell">
                            <h6 class="count h2" data-to="150" data-speed="150"> <img src="./assets/Imagenes/promedio.png" width="7%" alt="">{{datos.Promedio_poema}}<img src="./assets/Imagenes/promedio.png" width="7%" alt=""></h6>
                            <p class="m-0px font-w-600">Promedio</p>
                        </div>
                    </div>
                    <div class="col col-lg-3" >
                        <div class="count-data text-center" id="datacell" style=>
                            <h6 class="count h2" data-to="3" data-speed="3">{{datos.cantidad_poemas}}</h6>
                            <p class="m-0px font-w-600">Poemas disponibles</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>  
</div>  
<br>