<div class="modal fade" id="ModalFiltros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog" style="width: 100% ; max-width: 50%; min-width: 400px;">
        <div class="modal-content" style="width: 100% ;">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form [formGroup]="filtroForm">
                
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="row row-cols-1 row-cols-xl-2">

                            
                                <div class="col">
                                    <h3>Filtrar Por:</h3>
                                    <br>
                                    <li class="list-group-item">
                            
                                            <input class="form-check-input me-1" id="ModalCheck" type="checkbox" value="" formControlName="titulobox"  >
                                            <label class="form-check-label" id="ModalText" for="titulo" >Titulo:</label>    
                                            <input class="form-control me-2" id="ModalInput" style="border-radius:50px ; width: 95%; " type="text" placeholder="Ingrese título" formControlName="titulo"  >
                                

                                    </li>

                                    <br>
                                    
                                    <li class="list-group-item">
                                
                                            <input class="form-check-input me-1" id="ModalCheck" type="checkbox" value="" formControlName="autorbox">
                                            <label class="form-check-label" id="ModalText" for="autor">Autor:</label>  
                                            <input class="form-control me-2" id="ModalInput" style="border-radius:50px ; width: 95%; " type="text" placeholder="Ingrese autor" formControlName="autor" >
                        
            
                                    </li>

                    
                                    <br>
                                </div>
                            
                                
                                <br>
                                <div class="col">                           
                                    <h3>Ordernar Por:</h3> 
                                    <br>
                                    <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="fecha_asc"  name="options" formControlName="fecha_asc" type="radio">
                                            <label class="form-check-label" for="fecha_asc">Fecha ascendente</label>
                                    </li>

                                    <br>

                                    <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="fecha_des" formControlName="fecha_des"  name="options" type="radio">
                                            <label class="form-check-label" for="fecha_des">Fecha descendente</label>
                                    </li>

                                    <br>

                                    <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="titulo_asc"  name="options" formControlName="titulo_asc" type="radio">
                                            <label class="form-check-label" for="titulo_asc">Título ascendente</label> 
                                    </li>

                                    <br>

                                    <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="titulo_des"  name="options"formControlName="titulo_des" type="radio">
                                            <label class="form-check-label" for="titulo_des">Título descendente</label>
                                    </li>

                                    <br>

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" id="proemdio_asc" name="options" formControlName="promedio_asc" type="radio">
                                        <label class="form-check-label" for="proemdio_asc">Cantidad de Comentarios ascendente</label> 
                                    </li>

                                    <br>
                                    
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" id="promedio_des" name="options" formControlName="promedio_des" type="radio">
                                        <label class="form-check-label" for="promedio_des">Cantidad de Comentarios descendente</label>
                                    </li>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        <button (click)="submit()" (click)="reload()" style="width: 35%; font-size: large ; margin-left: 60%; background-color: #2D9994; color: aliceblue ; border-radius: 50px; " >Aplicar  </button>

    
            <br>
        </div>
        





    </div>
</div>  