<nav class="navbar navbar fixed-top" id="barra_lateral">
            
    <div class="container-fluid" style="background-color: #47B6AF">
        <a class="navbar-brand" href="#"></a>
        <h1 id="titulo"><a routerLink="/Home/1" style="color: white; text-decoration: none">CHIMICHANGA.NET</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header" style="background-color: #47B6AF">
                
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
            <div class="offcanvas-body" style="background-color: #47B6AF; padding: 0;">
                
                <form class="d-flex" role="search" style="padding-inline: 5%; padding-top: 10px ;">

                    <div class="btn-group dropstart" style="background-color: #47B6AF; padding: 0;">

                        <h4 style="width: 100%; margin-right: 5%;">Buscar poemas: </h4>

                        <button type="button" 
                                    id="btn-abrir-popup" 
                                    class="btn btn primary"                         
                                    data-bs-toggle="modal" 
                                    data-bs-target="#ModalFiltros"
                                    style="background: white; border-radius: 50px; padding-right: auto; "
                                    data-toggle="dropdown">
    
                                <img src="./assets/Imagenes/lupa.png"  width="40" href="">
                            
                        </button>
    
                    </div>

                </form>

                <br>
                    
                <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ; " >INGRESAR</h3>
                
                

                <br>
                <form [formGroup]="loginForm">
                    <li class="nav-item">
                        <input class="form-control me-2" style="border-radius:50px" type="email" placeholder="Correo" formControlName="correo" required>
                    </li>
            
                    <br>
                    <li class="nav-item">                      
                        <input class="form-control me-2" style="border-radius:50px; padding-inline-end: 10px;" type="password"  placeholder="Contraseña" formControlName="contra" required>
                    </li>
                    <br>

                    <li class="nav-item" >
                        <!-- <a class="nav-link" routerLink="/HomeUsuario"><img src="./assets/Imagenes/iniciar_sesion.png" width="15%"  </a> -->
                        <a class="nav-link" (click)="submit()"><img src="./assets/Imagenes/iniciar_sesion.png" width="15%" (click)="submit()" > Iniciar Sesión</a>
                    </li>
                    <br>
                </form>



                <!-- <li class="nav-item">
                  
                    <a class="nav-link"><img src="./assets/Imagenes/recuperar_contrasena.png" width="15%">   Recuperar contraseña</a>
                </li>
                <br> -->
                 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/CrearUsuario" ><img src="./assets/Imagenes/registrarse.png" width="15%">   Registrarse</a>
                </li>
                <br> 

            </div>
        </div>
    </div>
</nav>
<br>
<br>
<br>


<app-filtro></app-filtro>
<router-outlet></router-outlet>