

<div class="card" id="poema-card">
    
    <div id="#poema-card-body">
    
        <div class = "card-title">
            <table class="tabla1" width="100%" height="80px">
                <tr>
                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                        <img style="border-radius: 50%;" src="./assets/Imagenes/FotoPerfil.jpeg" height="65px">
                    </td> 
                    
                    <td width="auto">
                        <b style="color: white;">{{titulo}}</b>
                    </td>
                    
                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                        <div class="calificacion">
                            <p style="color:white">{{calificacion}}</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="height: 50px;">
                        <p style="color:white">{{autor}}</p>
                    </td>
                </tr>
            </table>
        </div>
        
        <div id="module" class="container">
            <table style="text-align: center; width: 100%;">
                <tr>
                            <p class="collapse" id="collapseExample" aria-expanded="false" style="white-space: pre-line">
                                {{texto}}
                            </p>  
                    

                        <button type="button" routerLink="/VerPoema" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                        <br>
                </tr>
            </table>
        </div>
        
        <h6 class="card-fecha">{{fecha}}</h6>
    
    </div>

</div>

<router-outlet></router-outlet>