<div class = "card-title" style="border-radius: 50px;">
            
    <table class="tabla1" width="100%" height="80px">
        <tr>
            
            <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                <div class="calificacion">
                    <p style="color:white">7.5</p>
                </div>
            </td>


            <td width="auto" height="auto" style="align-content: center; text-align: center; color: white;">
                <h3><b>Título</b></h3>
            </td>

            
            <td style="width:80px ; height: 80px; text-align: center;" rowspan="2" >
                <form action="link editar" method="post">
                    <input type=image style="border-radius: 50%; margin-top: 5px" src="./assets/Imagenes/basura.png" width="70px">
                </form>
            </td>
            
            <td style="width:80px ; height: 80px; text-align: center;" rowspan="2" >
                <form action="link editar" method="post">
                    <input type=image style="border-radius: 50%; margin-top: 5px" src="./assets/Imagenes/editar.png" width="70px">
                </form>
            </td>
            
            <tr>
                <td height="auto" width=auto style="align-content:center; text-align:center; color:white;"><h6><b>22/01/2022</b></h6></td>    
            </tr>
            

        
    </table>
</div>
<br>