<app-menu-admin></app-menu-admin>


<div class="container-fluid" style="background-color: #4E7079"> 
        
    <div class="row cols-lg g-4">
        <app-capsula-usuario-pendiente></app-capsula-usuario-pendiente>
        <app-capsula-usuario-pendiente></app-capsula-usuario-pendiente>
        <app-capsula-usuario-pendiente></app-capsula-usuario-pendiente>
        <app-capsula-usuario-pendiente></app-capsula-usuario-pendiente>
        <app-capsula-usuario-pendiente></app-capsula-usuario-pendiente>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
        <app-capsula-usuario></app-capsula-usuario>
    
    </div>
</div>

<app-paginado-de-poemas></app-paginado-de-poemas>