<app-menu-admin></app-menu-admin>


<div class="container-fluid" style="background-color: #4E7079"> 
        
    <div class="row cols-lg g-4">
        <div  *ngFor="let usuarios of arrayUsuarios">
            <div class="col" id="capsula-col">
                <app-capsula-usuario-pendiente [usuario]="usuarios.alias" [email]="usuarios.correo"></app-capsula-usuario-pendiente>
            </div>
        </div>
        <div  *ngFor="let usuarios of arrayUsuarios">
            <div class="col" id="capsula-col">
                <app-capsula-usuario [usuario]="usuarios.alias" [email]="usuarios.correo"> </app-capsula-usuario>
            </div>
        </div>
    </div>

</div>

<app-paginado-de-poemas></app-paginado-de-poemas>