<div *ngIf="login==false">
    <app-menu-sin-usuario></app-menu-sin-usuario>    
</div>
<div *ngIf="login==true">
    <div *ngIf="admin==false">
        <app-menu-con-usuario></app-menu-con-usuario>
    </div>
    <div *ngIf="admin==true">
        <app-menu-admin></app-menu-admin>
    </div>
</div>

<div class="container-lg" style="background-color: #4E7079; height: 20px;"> 
            
    <div class="row cols-lg g-4">  
    
    
        <div class="col justify-content-center " id="poema-col" *ngFor="let poema of arrayPoemas">
            <app-tarjeta-poema-chica 
                [poema_id]="poema.poema_id"
                [autor]="poema.autor"
                [autor_id]="poema.autor_id"
                [texto]="poema.contenido"
                [titulo]="poema.titulo"
                [calificacion]="poema.promedio"
                [fecha]="poema.fecha"
                [desde]="desde">
            </app-tarjeta-poema-chica>
        </div>
    </div>

</div>


<app-paginado-de-poemas [num]="num_paginas" [actual]="pag_actual" [desde]="desde" [filtro]="filtro" ></app-paginado-de-poemas>

<app-filtro></app-filtro>