<app-menu-con-usuario></app-menu-con-usuario>
    
    
<app-datos-perfil-usuario [usuario_id]="usuario_id" [datos]="arrayDatos"></app-datos-perfil-usuario>



<div class="container-fluid" style="background-color: #4E7079"> 

    
    <div class="col justify-content-center " id="poema-col" *ngFor="let poema of arrayPoemas">
        <app-capsula-poema
        [autor]="poema.autor" 
        [poema_id]="poema.poema_id"
        [titulo]="poema.titulo"  
        [calificacion]="poema.promedio"
        [texto]="poema.texto"
        [fecha]="poema.fecha"
        [reload]="reloadFunc"
        >
        
        
    </app-capsula-poema>
    <br>
    </div>   
</div> 

<app-paginado-de-poemas [num]="num_paginas" [actual]="pag_actual" [desde]="desde" ></app-paginado-de-poemas>

<a routerLink="/PerfilGrilla/{{usuario_id}}/1" class="btn-flotante" >
    <img src="./assets/Imagenes/grilla.png" width="30%" style="padding: 5px ;" >Grilla
</a>

<router-outlet></router-outlet>