<app-menu-con-usuario></app-menu-con-usuario>
    
    
<app-datos-perfil-usuario></app-datos-perfil-usuario>



<div class="container-fluid" style="background-color: #4E7079"> 
    
    <div class="col" id="capsula-col">
                                    
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>
        <app-capsula-poema></app-capsula-poema>


                
    </div>        
</div> 

<app-paginado-de-poemas></app-paginado-de-poemas>

<a routerLink="/PerfilGrilla" class="btn-flotante" >
    <img src="./assets/Imagenes/grilla.png" width="30%" style="padding: 5px ;" >Grilla
</a>

<router-outlet></router-outlet>