<app-menu-sin-usuario></app-menu-sin-usuario>


<div class="container-lg" style="background-color: #4E7079; height: 20px;"> 
            
    <div class="row cols-lg g-4">  
        
        <!-- <div *ngFor="let poema of arrayPoemas" >
            <div class="col justify-content-center " id="poema-col">
                <app-tarjeta-poema-chica></app-tarjeta-poema-chica>
            </div>
        </div> -->
        

        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica></app-tarjeta-poema-chica>
        </div>
    
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica></app-tarjeta-poema-chica>
        </div>
    
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica></app-tarjeta-poema-chica>
        </div>
        
    </div>
</div>

<app-paginado-de-poemas></app-paginado-de-poemas>

<app-filtro></app-filtro>

