<div class="container-fluid" style="background-color: transparent;"> 

    <div class="row cols-lg g-3">

        <div class="col justify-content-center col-lg-2" id="estadisticas-col">
            <div style="background-color :#47B6AF ; 
                                            height: 100% ; 
                                            height: 100% ;
                                            padding: 10px ; 
                                            border-radius: 15px ;">


                <table>
                    <tr> 
                        <td style="width:200px ; height: 100px; text-align: center;" rowspan="2">
                            <img style="border-radius: 50%;" src="./assets/Imagenes/FotoPerfil.jpeg" height="65px">
                        </td> 



                        <td style="width: 100% ;
                                text-align:center;
                                align-items: center;">
                            <h4 class="nick" style="margin: 0px; font-weight: 700; color: white">Perfil:<br> Nombre de usuario {{usuario_id}}</h4>
                        </td>           
                    </tr> 
                </table>

            </div>
        </div>


        <div class="col col justify-content-center" id="estadisticas-col">

                <div style="background-color :#47B6AF;
                                                height: 100% ;
                                                padding: 10px ; 
                                                border-radius: 15px ;" >

                    <div class="row row-cols-1 g-2">

                        <div class="col-6 col-lg-3" >
                            <div class="count-data text-center" id="datacell">
                                <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                                <p class="m-0px font-w-600">Poemas</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center" id="datacell">
                                <h6 class="count h2" data-to="150" data-speed="150"> <img src="./assets/Imagenes/promedio.png" width="7%" alt=""> 7.5 <img src="/Imagenes/promedio.png" width="7%" alt=""></h6>
                                <p class="m-0px font-w-600">Promedio</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center" id="datacell">
                                <h6 class="count h2" data-to="850"  data-speed="850">850</h6>
                                <p class="m-0px font-w-600">Calificaciones hechas</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center" id="datacell" style=>
                                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                                <p class="m-0px font-w-600">Calificaciones recibidas</p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

        
    </div>
</div>
<br>
<br>