<div class="text-center" id="paginacion-fondo">
    <div class="capsula" id="capsula-paginacion" >

        <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success" id="paginacion">
            
            <!-- <li class="page-item"><a class="page-link" href="/Home/" data-abc="true"><</a></li> -->

            <li class="page-item" *ngFor="let i of array()">
                
                <div *ngIf="i === actual; else elseBlock">
                    <a class="page-link" data-abc="true">
                        Pagina {{i}}
                    </a>

                </div>
                <ng-template #elseBlock>
                    <div *ngIf="desde === 'home'">
                        <a class="page-link" href="/Home/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'homeAdmin'">
                        <a class="page-link" href="/HomeAdmin/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'homeUsuario'">
                        <a class="page-link" href="/HomeUsuario/{{id}}/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'perfilGrilla'">
                        <a class="page-link" href="/PerfilGrilla/{{id}}/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'perfilLista'">
                        <a class="page-link" href="/PerfilLista/{{id}}/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'perfilAjeno'">
                        <a class="page-link" href="/PerfilAjeno/{{id}}/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    <div *ngIf="desde === 'homeFiltro'">
                        <a class="page-link" href="/HomeFiltro/{{i}}" data-abc="true">{{i}}</a>
                    </div>
                    
                </ng-template>
                
            </li>
        </ul>
    </div> 
</div>