<div class="card" id="poema-card">
    
    <div id="#poema-card-body">
    
        <div class="card-title">
            <table class="tabla1" width="100%" height="80px">
                <tr>

                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                        <img style="border-radius: 50%;" src="./assets/Imagenes/FotoPerfil.jpeg" height="65px">
                    </td> 
                    
                    <td width="auto">
                        <p style="color:white">{{titulo}}</p>
                    </td>
                    
                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                        <div class="calificacion">
                            <p style="color:white">{{calificacion}}</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="height: 50px;">
                        <p style="color:white">
                            <a routerLink="/PerfilAjeno/{{autor_id}}/1" style="color: white; text-decoration: none">{{autor}}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        
        <div id="module" class="container">
            <table>
                <tr>
                    <p class="collapse" id="collapseExample" aria-expanded="false" style="white-space: pre-line">
                        {{texto}}
                    </p>     
                </tr>
                
                <tr>
                    <div *ngIf="desde === 'home'">
                        <button type="button" routerLink="/VerPoema/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>
                    <div *ngIf="desde === 'homeAdmin'">
                        <button type="button" routerLink="/VerPoemaAdmin/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>
                    <!-- TODO Pasar ID Usuario-->
                    <div *ngIf="desde === 'homeUsuario'">
                        <button type="button" routerLink="/VerPoemaUsuario/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>

                
                    <div *ngIf="desde === 'homeFiltro/false/false'">

                        <button type="button" routerLink="/VerPoema/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>

                    <div *ngIf="desde === 'homeFiltro/true/false'">

                        <button type="button" routerLink="/VerPoemaUsuario/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>

                    <div *ngIf="desde === 'homeFiltro/true/true'">

                        <button type="button" routerLink="/VerPoemaAdmin/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                            Ver mas
                        </button> 
                    </div>


                    <br>
                </tr>
                
            </table>
        </div>
        <h6 class="card-fecha">{{fecha}}</h6>
    
    </div>

</div>

<router-outlet></router-outlet>