<app-menu-con-usuario></app-menu-con-usuario>

<div class="container-fluid">
    <div class="row  justify-content-center" >
        <div class="row row row-cols-1 row-cols-xl-2 g-3" style="text-align: center;padding-left: 15%; padding-right: 15%;">

            
            <app-tarjeta-poema-grande
                [autor]="poema.autor" 
                [titulo]="poema.titulo"  
                [calificacion]="poema.calificacion"
                [texto]="poema.contenido"
                [fecha]="poema.fecha">
            </app-tarjeta-poema-grande>

            <div class="col justify-content-center " id="poema-col" style="height:auto;">
                <app-tarjeta-calificaciones-usuario [usuario_id]="usuario_id" [poema_id]="poema_id"></app-tarjeta-calificaciones-usuario>
            </div>  
        </div>
    </div>
</div>
<br>
<br>
<br>

<router-outlet></router-outlet>