<div class="card" id="poema-card">
    <div id="#poema-card-body">
        <div class = "card-title">
            <table class="tabla1" width="100%" height="80px">
                <tr>                                
                    <td width="auto" style="text-align: center;">
                        <b style="color: white; text-align: center;">{{titulo}}</b>
                    </td>
                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                        <div class="calificacion">
                            <p style="color:white">{{calificacion}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="module" class="container">
            <table>
                <tr>
                    <p class="collapse" id="collapseExample" aria-expanded="false" style="white-space: pre-line">
                        {{texto}}
                    </p>     
                </tr>
                <tr>
                    <button type="button" routerLink="/VerPoemaUsuario/{{poema_id}}" class="btn" role="button" style="background-color: none ; border: none ; color: black;">
                        Ver mas
                    </button> 
                    <br>
                </tr>
            </table>
        </div>
        <table class="tabla1" style="width: 100%; "cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 30%;">
                    <button style="
                        border-bottom-left-radius: 10px ;
                        margin: 0px;
                        height: 50px ;
                        border: 0px;
                        background-color: #47B6AF;
                        width: 100%;
                        /* border-radius: 10px; */
                        text-align: center;
                        color: white;
                        font-family: serif;"
                        >
                        <img src="./assets/Imagenes/basura.png" style="background-color: #47B6AF; " width="28%;" alt="">
                    </button>
                </td>
                <td style="text-align: center;background-color: #47B6AF;">
                    <b class="card-fecha-abm">{{fecha}}</b> 
                </td>
                <td style="width: 30%;">
                    <button style="
                        border-bottom-right-radius: 10px ;
                        margin: 0px;
                        height: 50px ;
                        border: 0px;
                        background-color: #47B6AF;
                        width: 100%;
                        /* border-radius: 10px; */
                        text-align: center;
                        color: white;
                        font-family: serif;"
                        ><img src="./assets/Imagenes/editar.png" style="background-color: #47B6AF;" width="30%;" alt=""></button>
                </td>
            </tr>
        </table>  
    </div>
</div>

<router-outlet></router-outlet>