<table class="tabla1" width="100%" height="80px">
    <tr>  
        <td style="width:80px ; height: 80px; text-align: center;" rowspan="1"><img style="border-radius: 50%;" src="./assets/Imagenes/FotoPerfil.jpeg" height="65px"></td> 
        <td width="auto" style="text-align:justify; color: white; padding-left: 4%;"rowspan="2">{{texto}}</td>
        <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
            <div class="calificacion">
                <p style="color:white">{{calificacion}}</p>
            </div>
        </td>
    </tr>
    <tr><td style="color: white; font-size:small"><b> {{usuario}}</b></td></tr>    
</table>
<hr> 
<br>