/* .tabla1 td {
    border: black 2px solid; 
} */



h1{
    color: white;
    background-color: #47B6AF;
    height: auto; 
    font-family:"GRADUATE REGULAR"; 
    text-align:center
}

body{
    background-color: #4E7079; 
}

.buscador {
    width: 250px;
    height: fit-content;
    position: fixed;
    left:0px;
    top: 20px;
    background: #4E7079;
    
}


.card_header {
    width: 100%;
    height: 80px;
    background: #47B6AF;
    position: relative;
    border-radius: 50px;
}

.calificacion{
    border-radius: 50%;
    display: inline-block;
    width: 70%;
    height: 70%;
    padding: 10% 10%;
    border: solid 7px yellow;
    text-align: center;
}

.card-fecha{
    background-color: #47B6AF;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-family: serif;
}

.nav-item {
    list-style-type: none;
    text-align: center;
    padding-inline: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2D9994;
    width:100%
}

.nav-link {
    text-align: left;
}


.separador {
    height: 100%;
}


.form-control me-2 {
    width: 100%;
}

.d-flex{
    text-align: center;
    padding-inline: 0%;
    width:100%
}


.pagination {
    display: inline-flex;
    margin: 0 auto;
  }

  .pagination > li {
    overflow: hidden;
    position: relative;
    margin-top: 25px;
    width: 25%;
    float: left;
    list-style: none;
    padding: 0;
  }
  .pagination > li p {
    color: #000;
    line-height: 1;
  }
  .pagination > li > a {
    line-height: 50px;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    position: relative;
  }
  /*positon the circle*/
  
  .pagination > li > a:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    background-color: white;
    transition: all .2s;
  }

