
<!-- Sin login -->
<div *ngIf=" 1 === 1">
    <app-menu-sin-usuario></app-menu-sin-usuario>    
</div>

<!-- Con login -->
<!-- <div *ngIf="condition">
    <app-menu-con-usuario></app-menu-con-usuario>    
</div> -->

<!-- Admin -->
<!-- <div *ngIf="condition">
    <app-menu-admin></app-menu-admin>    
</div> -->


<app-datos-perfil-usuario-ajeno [datos]="datos"></app-datos-perfil-usuario-ajeno>

<div class="container-fluid" style="background-color: #4E7079"> 
    <div class="row cols-lg g-4">  


        <div class="col justify-content-center " id="poema-col" *ngFor="let poema of arrayPoemas">
            <app-tarjeta-poema-mediana 
            [autor]="poema.autor" 
            [titulo]="poema.titulo"  
            [calificacion]="poema.promedio"
            [texto]="poema.contenido"
            [fecha]="poema.fecha"
            >
            </app-tarjeta-poema-mediana>
        </div>
        
    </div>          

</div>

<app-paginado-de-poemas></app-paginado-de-poemas>