<app-menu-sin-usuario></app-menu-sin-usuario>
        
<app-datos-perfil-usuario-ajeno [usuario_id]="usuario_id"></app-datos-perfil-usuario-ajeno>

<div class="container-fluid" style="background-color: #4E7079"> 
    <div class="row cols-lg g-4">  


        <div class="col justify-content-center " id="poema-col" *ngFor="let poema of arrayPoemas">
            <app-tarjeta-poema-mediana 
            [autor]="poema.autor" 
            [titulo]="poema.titulo"  
            [calificacion]="poema.calificacion"
            [texto]="poema.texto"
            [fecha]="poema.fecha"
            >
            </app-tarjeta-poema-mediana>
        </div>
        
    </div>          

</div>

<app-paginado-de-poemas></app-paginado-de-poemas>