<div class="card" style="width: 100%; height:100% ; border-top-right-radius:50px; border-top-left-radius:50px;" >
    <div class="card-body" style="background-color: #2D9994; padding: 0%; text-align: center; border-top-right-radius:50px; border-top-left-radius:50px;" >
        <h5 class="card-title" style="background-color:white; padding: 2%; border-top-right-radius:50px; border-top-left-radius:50px;">Comentarios</h5>

        
        <div data-spy="scroll" data-target="#scrollspy" data-offset="0" style="overflow-y: scroll; height: 60%;">
            <div *ngFor="let comentario of arrayPoemaComentarios">

                <app-comentario
                [usuario]="comentario.usuario" 
                [texto]="comentario.texto"
                [calificacion]="comentario.calificacion" >
                </app-comentario>
            </div>
        </div>       

        <app-paginado-de-calificaciones></app-paginado-de-calificaciones>

        <table class="tabla1" width="100%" height="80px" style="position: absolute; bottom: 0px"> 
            <tr>  
                <td style="width:80px ; height: 80px; text-align: center;" rowspan="1"><img style="border-radius: 50%;" src="./assets/Imagenes/FotoPerfilKick.png" height="65px"></td> 
                <td width="auto" style="text-align:justify; color: white; padding-left: 4%;"rowspan="1" colspan="2">
                <form class="d-flex">
                    <input class="form-control me-2" style="border-radius:50px; padding-inline-end: 10px;" type="text" id="text" placeholder="Escribe tu comentario aquí ..." >
                    <button class="btn  btn-main" style="border-radius: 50px; width:25%;" >
                        <img src="./assets/Imagenes/enviar_blanco.png"  width="80%" name="contraseña">
                    </button>
                </form> 
                
                </td>
            </tr>
            <tr >
                <td style="color: white; font-size:small;"><b> Kick Buttowski {{usuario_id}}</b></td> 
                <td style="color: white; font-size:small">
                
                    <div class="container" style=" align-items: left">

                        
                        <input style="margin-right: 0%;" type="range" min = "1" max="10" value="6" class="slider" id="myRange">
                    </div>
                </td>
                <td style="width:50px ;">
                    <div class="range-slider">
                        <span class="rs-label" id="demo">5</span>  
                    </div>
                </td>  
            </tr>
        </table>
        <br>

    
    </div>
</div>
