<app-menu-con-usuario></app-menu-con-usuario>

<app-datos-perfil-usuario [usuario_id]="usuario_id"  [datos]="arrayDatos"></app-datos-perfil-usuario>

<div class="container-fluid" style="background-color: #4E7079">

    <div class="row cols-lg g-4">
    
    <div class="col justify-content-center " id="poema-col" *ngFor="let poema of arrayDatos.poemas">
            <app-tarjeta-poema-chica-propio 
            [titulo]="poema.titulo"  
            [calificacion]="poema.promedio"
            [texto]="poema.contenido"
            [fecha]="poema.fecha"
            [poema_id]="poema.poema_id"
            [reload]="reloadFunc"
            >
        </app-tarjeta-poema-chica-propio>
        <br>
    </div>

    
    </div>
</div>
<app-paginado-de-poemas [num]="num_paginas" [actual]="pag_actual" [desde]="desde" ></app-paginado-de-poemas>

<a routerLink="/PerfilLista/{{usuario_id}}" class="btn-flotante" >
    <img src="./assets/Imagenes/lista.png" width="30%"> Lista
</a>

<router-outlet></router-outlet>