<app-menu-con-usuario></app-menu-con-usuario>

<app-datos-perfil-usuario></app-datos-perfil-usuario>

<div class="container-fluid" style="background-color: #4E7079"> 
    
    <div class="row cols-lg g-4"> 
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
 
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
        <div class="col justify-content-center " id="poema-col">
            <app-tarjeta-poema-chica-propio></app-tarjeta-poema-chica-propio>
        </div>
    </div>
</div> 

<app-paginado-de-poemas></app-paginado-de-poemas>

<a routerLink="/PerfilLista" class="btn-flotante" >
    <img src="./assets/Imagenes/lista.png" width="30%"> Lista
</a>

<router-outlet></router-outlet>