
<div class="container-lg" style="background-color: #4E7079"> 
            
    <div class="row cols-lg g-4">  

        <div class="col justify-content-center " id="poema-col">

            <div class="card" id="poema-card">
                
                <div id="#poema-card-body" style="padding-bottom: 15px">

                    <div class = "card-title" style="padding-bottom: 10px ; padding-top: 10px">
                        
                        
                        <form [formGroup]="modificarForm">
                            <table width="100%" height="80px">
                                <tr>
                                    
                                    <td style="width:140px ; height: 100px;" rowspan="2">
                                        <div style="position: relative">
                                            <img style="border-radius: 50%; margin-left: 10px;" src="./assets/Imagenes/FotoPerfilKick.png" height="110px"> 
            
                                                <input class="nav-link"  
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#exampleModal"  
                                                        type=image 
                                                        style="border-radius: 50%; margin-top: -25%; margin-left: 67%; background-color: transparent;" 
                                                        src="./assets/Imagenes/editar.png"     
                                                        width="40%">  
                                            
                                        </div>
                                    </td>
                             
                                    <td width="auto" style="padding-left: 10px;">
                                      
                                            <input class="form-control me-2" 
                                                    style="border-radius:50px; padding-inline-end: 10px;" 
                              
                                                    type="text" 
                                                    id="text"
                                                    placeholder="{{alias}}"
                                                    formControlName="alias" 
                                                    value="{{alias}}"
                                                    >
                                                    
                                                    
                                   
                                    </td>
                                    
                                    <td style="width:100px ; height: 100px; text-align: center;" rowspan="2">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="height: 50px; padding-left: 10px;">
                                        <input class="form-control me-2" 
                                                style="border-radius:50px; padding-inline-end: 10px; " 
                                                type="password" 
                                                id="password"   
                        
                                                placeholder="Ingrese nueva contraseña (opcional)"
                                                formControlName="contra"  
                                                value=""
                                                required>
                                    </td>
                                </tr>
                            </table>
                            
                        </form>
                            
                    </div>

                


                    
                    
                    <div id="module" class="container">
                        <div style="height: 100% ;
                                    width: 100% ;
                                    padding: 10px ; 
                                    border-radius: 15px ;
                                    align-content: center;" >

                            <div class="count-data text-center" id="datacell" style="background-color: #47B6AF">
                                <h6 class="count h2" data-to="500" data-speed="500">{{datos_usuario.cantidad_poemas}}</h6>
                                <p class="m-0px font-w-600">Poemas</p>
                            </div>
                            <div class="count-data text-center" id="datacell" style="background-color: #47B6AF">
                                <h6 class="count h2" data-to="850"  data-speed="850">{{datos_usuario.cantidad_calificacion}}</h6>
                                <p class="m-0px font-w-600">Calificaciones hechas</p>
                            </div>
                            <div class="count-data text-center" id="datacell" style="background-color: #47B6AF">
                                <h6 class="count h2" data-to="150" data-speed="150"> <img src="./assets/Imagenes/promedio.png" width="7%" alt=""> 
                                    {{datos_usuario.Promedio_poema}} 
                                    <img src="./assets/Imagenes/promedio.png" width="7%" alt="">
                                </h6>
                                <p class="m-0px font-w-600">Promedio</p>
                            </div>
                            <div class="count-data text-center" id="datacell" style="background-color: #47B6AF">
                                <h6 class="count h2" data-to="3" data-speed="3"> {{datos_usuario.poemas_disponibles}} </h6>
                                <p class="m-0px font-w-600">Poemas disponibles</p>
                            </div>

                        </div>
                    </div>

                    <a class="nav-link"   style="border-radius:50px; background-color: #47B6AF; width: 35%; color: white; margin-left: 80%; font-size: 120%;" >
                        <img src="./assets/Imagenes/guardar.png"  width="30%" (click)="submit()">  Guardar
                    </a>
                    
                    <br> 
                    <a class="nav-link" (click)="cancelar()" style="border-radius:50px; background-color: #47B6AF; width: 35%; color: white; margin-left: 80%; margin-top: 0%; font-size: 120%;">
                        <img src="./assets/Imagenes/cancelar.png" width="30%">     Cancelar
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- <form [formGroup]="modificarForm">
    <input 
        class="form-control me-2"   
        style="
            border-top-left-radius:50px;
            border-top-right-radius:50px;
            border: 0px;
            height: 70px; 
            width: 100%; 
            background-color: #47B6AF; 
            color: white; 
            font-size:x-large; 
            text-align: center;" 
        formControlName="alias"  
        type="text"     
        placeholder="Alias"    
        required>
    <br>
    
    <div class="mb-3">
        <textarea   
            class="form-control" 
            id="exampleFormControlTextarea1"    
            rows="8" 
            style="text-align:center; height: 10%; font-size: large; border: 0%; border-color: white;" 
            formControlName="poema" 
            placeholder="Escribe tu poema aquí...">
        </textarea>
    </div>

</form> -->




<router-outlet></router-outlet>